<main>
  <div class="toolbar">
    <div class="current-month"><h4>{{ monthNames[currentMonth] }} {{ currentYear }}</h4></div>
    <div class="toggle">
      <button class="toggle__option" id="leftarrow"
           (click)="changeCalendarMonth(currentYear, currentMonth - 1)"
           [disabled]="currentMonth <= 0">&larr;</button>
      <button class="toggle__option" id="rightarrow"
           (click)="changeCalendarMonth(currentYear, currentMonth + 1)"
           [disabled]="currentMonth > 10">&rarr;</button>
    </div>
  </div>
  <div class="calendar">
    <div class="calendar__header">
      <div>sun</div>
      <div>mon</div>
      <div>tue</div>
      <div>wed</div>
      <div>thu</div>
      <div>fri</div>
      <div>sat</div>
    </div>
    <div id="month-view">
      <div class="calendar__week" *ngFor="let row of monthRows">
        <app-calendar-day *ngFor="let col of monthCols"
          class="calendar__day day" [day]="calendarInfo[row][col].day" [events]="calendarInfo[row][col].events"
          [person]="person"> 
        </app-calendar-day>
      </div>
    </div>
  </div>
</main>
