<main>
  <div class="toolbar">
    <div class="toggle">
      <div [ngClass]="{'toggle__option': !weekView, 'toggle__option--selected': weekView }" (click)="weekView = true">week</div>
      <div [ngClass]="{'toggle__option': weekView, 'toggle__option--selected': !weekView}"  (click)="weekView = false">month</div>
    </div>
    <div class="current-month">{{ monthNames[currentMonth] }} {{ currentYear }}</div>
    <div class="toggle">
      <div class="toggle__option" id="leftarrow">&larr;</div>
      <div class="toggle__option" id="rightarrow">&rarr;</div>
    </div>
  </div>
  <div class="calendar">
    <div class="calendar__header">
      <div>mon</div>
      <div>tue</div>
      <div>wed</div>
      <div>thu</div>
      <div>fri</div>
      <div>sat</div>
      <div>sun</div>
    </div>
    <div id="month-view" *ngIf="!weekView">
      <div class="calendar__week">
        <app-calendar-day class="calendar__day day" [day]="28"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="29" [events]="events[0]"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="30"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="31"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="1" [events]="events[1]"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="2"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="3"></app-calendar-day>
      </div>
      <div class="calendar__week">
        <app-calendar-day class="calendar__day day" [day]="4" [events]="events[2]"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="5"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="6" [events]="events[3]"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="7"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="8" [events]="events[4]"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="9"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="10"></app-calendar-day>
      </div>
      <div class="calendar__week">
        <app-calendar-day class="calendar__day day" [day]="11"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="12"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="13"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="14"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="15"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="16" [events]="events[5]"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="17"></app-calendar-day>
      </div>
      <div class="calendar__week">
        <app-calendar-day class="calendar__day day" [day]="18"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="19"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="20"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="21"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="22"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="23"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="24"></app-calendar-day>
      </div>
      <div class="calendar__week">
        <app-calendar-day class="calendar__day day" [day]="25"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="26"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="27"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="28"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="1"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="2"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="3"></app-calendar-day>
      </div>
    </div>
    <div id="week-view" *ngIf="weekView">
      <div class="calendar-weekview">
        <app-calendar-day class="calendar__day day" [day]="25"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="26"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="27"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="28"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="1"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="2"></app-calendar-day>
        <app-calendar-day class="calendar__day day" [day]="3"></app-calendar-day>
      </div>
    </div>
  </div>
</main>
