.wrapper {
  width: 75%; /* unnecessary, but let's keep things consistent */
  margin:auto;
  height: 110vh;
  margin-top: -20px;
}

#wrap-container{
  display: flex;
  flex-direction: row;
}


.wrapper h2{
  text-align: left;
}
