<div id="wrap-container">
  <div id="profile">
    <div class="student-profile" *ngIf="displayedAccount.role_id === 2">
    <h2>Student Profile</h2>
      <table id="student-table">
        <tr>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAwQCm9PbjRcwixwQERgE88we7n1e72OriAvpd2UNN3Q3UHvtp1Q" alt ="profile_img" id="p_img">
        </tr>
        <tr>
          <td>Name:</td>
          <td>{{ displayedAccount.firstname }} {{ displayedAccount.lastname }}</td>
        </tr>
        <tr>
          <td>Role:</td>
          <td></td>
        </tr>
        <tr>
          <td>Semester:</td>
          <td></td>
        </tr>
        <tr>
          <td>Courses:</td>
          <td>CS {{displayedAccount.course_id}}</td>
        </tr>
      </table>
    </div>
    <div id="ta-profile" *ngIf="displayedAccount.role_id === 1">
      <h2>TA Profile</h2>
      <table id="ta-table">
        <tr>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAwQCm9PbjRcwixwQERgE88we7n1e72OriAvpd2UNN3Q3UHvtp1Q" alt ="profile_img" id="p_img">
        </tr>
        <tr>
          <td>Name:</td>
          <td>{{ displayedAccount.firstname }} {{ displayedAccount.lastname }}</td>
        </tr>
        <tr>
          <td>Role:</td>
          <td>{{ displayedAccount.role_id }}</td>
        </tr>
        <tr>
          <td>Semester: </td>
          <td></td>
        </tr>
        <tr>
          <td>Courses:</td>
          <td>CS {{displayedAccount.course_id}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="wrapper">
    <h2>TA Hours</h2>
    <app-calendar [person]=displayedAccount></app-calendar>
  </div>
</div>
