<div class ="wrapper">
  <div class = "semester">
    <mat-form-field id="semester-selection" >
      <mat-select [(value)]="SemesterSel" placeholder="Define Semester">
        <mat-option></mat-option>
        <mat-option value="sp19" selected>Spring 2019</mat-option>
        <mat-option value="fa19" selected>Fall 2019</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class ="tabs">
    <mat-tab-group>
      <mat-tab label="All TAs">
      <div class ="app-ta">
        <h4>List of TAs</h4>
          <div id="app-ta-table" *ngIf="SemesterSel==='sp19'">
          <app-ta-table></app-ta-table>
          </div>
      </div>
      </mat-tab>
      <mat-tab label="TA Scheduling">
        <div class ="container">
        <div class = "month_to_schedule">
          <mat-form-field id="month-selection" *ngIf="SemesterSel==='sp19'">
            <mat-select placeholder="Please Select a Month" [(ngModel)]="selectedMon">
              <mat-option value="jan">January</mat-option>
              <mat-option value="feb">February</mat-option>
              <mat-option value="mar">March</mat-option>
              <mat-option value="april">April</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field id="month-selection-fall" *ngIf="SemesterSel==='fa19'">
            <mat-select placeholder="Please Select a Month" [(ngModel)]="selectedMon">
              <mat-option value="sep">September</mat-option>
              <mat-option value="oct">October</mat-option>
              <mat-option value="nov">November</mat-option>
              <mat-option value="dec">December</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class ="avail-ta">
          <label for="avail-tas">TAs Data</label>
          <div id= "j-tas" *ngIf="selectedMon == 'jan' && SemesterSel==='sp19'">
          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th>Scheduled Hours</th>
              </tr>
            </thead>
            <tbody>
              <tr>
               <td class="mdl-data-table__cell--non-numeric">Ross Woodhams</td>
               <td>30</td>
              </tr>
              <tr>
               <td class="mdl-data-table__cell--non-numeric">Shandar Hathaway</td>
               <td>25</td>
              </tr>
              <tr>
               <td class="mdl-data-table__cell--non-numeric">Sebastián Perrault</td>
               <td>32</td>
              </tr>
            </tbody>
          </table>
          </div>
          <div id = "f-tas" *ngIf="selectedMon == 'feb' && SemesterSel==='sp19'">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Name</th>
                  <th>Scheduled Hours</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                 <td class="mdl-data-table__cell--non-numeric">Ross Woodhams</td>
                 <td></td>
                </tr>
                <tr>
                 <td class="mdl-data-table__cell--non-numeric">Shandar Hathaway</td>
                 <td></td>
                </tr>
                <tr>
                 <td class="mdl-data-table__cell--non-numeric">Sebastián Perrault</td>
                 <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id = "m-tas" *ngIf="selectedMon == 'mar' && SemesterSel==='sp19'">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Name</th>
                  <th>Scheduled Hours</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                 <td class="mdl-data-table__cell--non-numeric">Ross Woodhams</td>
                 <td></td>
                </tr>
                <tr>
                 <td class="mdl-data-table__cell--non-numeric">Shandar Hathaway</td>
                 <td></td>
                </tr>
                <tr>
                 <td class="mdl-data-table__cell--non-numeric">Sebastián Perrault</td>
                 <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id = "a-tas" *ngIf="selectedMon == 'april' && SemesterSel==='sp19'">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Name</th>
                  <th>Scheduled Hours</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                 <td class="mdl-data-table__cell--non-numeric">Ross Woodhams</td>
                 <td></td>
                </tr>
                <tr>
                 <td class="mdl-data-table__cell--non-numeric">Shandar Hathaway</td>
                 <td></td>
                </tr>
                <tr>
                 <td class="mdl-data-table__cell--non-numeric">Sebastián Perrault</td>
                 <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class ="generate-button">
          <button mat-raised-button id="g-button">Generate Schedule</button>
        </div>
      </div>
      </mat-tab>
      <mat-tab label="CS 149 Calendar">
        <div class="ta-cal-1" *ngIf="SemesterSel==='sp19'">
          <app-calendar [course]=149 [person]=this.accountService.currentAccount></app-calendar>
        </div>
        <div class="ta-cal-1-fa" *ngIf="SemesterSel==='fa19'">
          <app-calendar [inputMonth]=8></app-calendar>
        </div>
      </mat-tab>
      <mat-tab label="CS 159 Calendar">
        <div class="ta-cal-2" *ngIf="SemesterSel==='sp19'">
          <app-calendar [course]=159 [person]=this.accountService.currentAccount></app-calendar>
        </div>
        <div class="ta-cal-2-fa" *ngIf="SemesterSel==='fa19'">
          <app-calendar [inputMonth]=8></app-calendar>
        </div>
      </mat-tab>
      <mat-tab label="Swap Requests">
      <div class ="requests">
        <div class ="head">
        <button mat-raised-button id="a-button">Approve</button>
        <button mat-raised-button id="d-button">Deny</button>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
      <div id= "request-data" *ngIf="SemesterSel==='sp19'">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">

      <!-- Checkbox Column -->
     <ng-container matColumnDef="select">
       <th mat-header-cell *matHeaderCellDef>
         <mat-checkbox (change)="$event ? masterToggle() : null"
                       [checked]="selection.hasValue() && isAllSelected()"
                       [indeterminate]="selection.hasValue() && !isAllSelected()">
         </mat-checkbox>
       </th>
       <td mat-cell *matCellDef="let row">
         <mat-checkbox (click)="$event.stopPropagation()"
                       (change)="$event ? selection.toggle(row) : null"
                       [checked]="selection.isSelected(row)">
         </mat-checkbox>
       </td>
     </ng-container>


      <!-- Requester Column -->
      <ng-container matColumnDef="Requester">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Requester </th>
      <td mat-cell *matCellDef="let element"> {{element.Requester}} </td>
      </ng-container>

      <!-- Requestee Column -->
      <ng-container matColumnDef="Requestee">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Requestee </th>
      <td mat-cell *matCellDef="let element"> {{element.Requestee}} </td>
      </ng-container>

      <!-- Course Column -->
      <ng-container matColumnDef="Course">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course </th>
      <td mat-cell *matCellDef="let element"> {{element.Course}} </td>
      </ng-container>

      <!-- Shift Column -->
      <ng-container matColumnDef="Shift">
      <th mat-header-cell *matHeaderCellDef> Shift </th>
      <td mat-cell *matCellDef="let element"> {{element.Shift}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
       <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
         <div class="example-element-detail"
              [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
         <div class="example-element-description">
           {{element.description}}
         </div>
       </div>
     </td>
   </ng-container>

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let element; columns: displayedColumns;"
       class="example-element-row"
       [class.example-expanded-row]="expandedElement === element"
       (click)="expandedElement = expandedElement === element ? null : element">
   </tr>
   <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" (click)="selection.toggle(row)"></tr>

      </table>
      </div>
      </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  </div>
