
<div class="wrap fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/images/jmu-logo.png" id="icon" alt="JMU Icon">
    </div>
    <div id="login-register">
      <div id="login-container" *ngIf="login">
        <form action="" id="login-form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
          <input type="text" id="dukes-id" class="fadeIn second"
            name="login" placeholder="JMU e-id" required ngModel>
          <input type="password" id="password" class="fadeIn third"
            name="password" placeholder="Password" minlength="8" required ngModel>
            <div class="toggle_radio fadeIn third" id="login-slider">
              <input type="radio" class="toggle_option" id="first_toggle" name="toggle_option" value="student" ngModel>
              <input type="radio" class="toggle_option" id="second_toggle" name="toggle_option" value="ta" ngModel>
              <input type="radio" checked class="toggle_option" id="third_toggle" name="toggle_option" value="admin" ngModel>
              <label for="first_toggle"><p>Student</p></label>
              <label for="second_toggle"><p>TA</p></label>
              <label for="third_toggle"><p>Admin</p></label>
              <div class="toggle_option_slider">
              </div>
            </div>
          <input type="submit" class="fadeIn fourth" value="Log In">
          <button class="btn btn-primary fadeIn fourth" (click)="login = !login">Register</button>
        </form>
      </div>
      <div id="register-container" *ngIf="!login">
        <form action="ta-setup.html" id="register-form" #regForm="ngForm" (ngSubmit)="registerSubmit(regForm)">
          <input type="text" class="fadeIn first" id="firstname"
            name="firstname" placeholder="First Name" required ngModel
            #regFirstName="ngModel">
          <small [hidden]="regFirstName.valid || (regFirstName.pristine && !regForm.submitted)" class="text-danger">
            First Name is required
          </small>

          <input type="text" id="lastname" class="fadeIn first"
            name="lastname" placeholder="Last Name" required #regLastName="ngModel" ngModel>
          <small [hidden]="regLastName.valid || (regLastName.pristine && !regForm.submitted)" class="text-danger">
            Last Name is required
          </small>

          <input type="text" id="dukes-id-register" class="fadeIn second"
            name="eid" placeholder="JMU e-id" required ngModel #regUsername="ngModel">
          <small [hidden]="regUsername.valid || (regUsername.pristine && !regForm.submitted)" class="text-danger">
            Username is required
          </small>

          <input type="password" id="password-register" class="fadeIn second"
            name="password" placeholder="Password" minlength="8" required ngModel #regPassword="ngModel">
          <small [hidden]="regPassword.valid || (regPassword.pristine && !regForm.submitted)" class="text-danger">
            Password is required and must have a minimum of 8 characters
          </small>

          <input type="password" id="password-confirm" class="fadeIn second"
            name="password-confirm" placeholder="Confirm Password" minlength="8"
            required ngModel #regPasswordConfirm="ngModel">
          <small [hidden]="regPasswordConfirm.valid || (regPasswordConfirm.pristine && !regForm.submitted)"
            class="text-danger">
            Please confirm password
          </small>
          <div class="toggle_radio fadeIn third">
            <input type="radio" class="toggle_option" id="first_toggle" name="toggle_option"
                   value="student" required ngModel #regRole="ngModel">
            <input type="radio" class="toggle_option" id="second_toggle" name="toggle_option"
                   value="ta" required ngModel #regRole="ngModel">
            <input type="radio" class="toggle_option" id="third_toggle" name="toggle_option"
                   value="admin" required ngModel #regRole="ngModel">
            <label for="first_toggle"><p>Student</p></label>
            <label for="second_toggle"><p>TA</p></label>
            <label for="third_toggle"><p>Admin</p></label>
            <div class="toggle_option_slider">
            </div>
          </div>
          <small [hidden]="regRole.valid || !regForm.submitted"
            class="text-danger">
            Please Select A User Role
          </small>
          <div class="fadeIn third" *ngIf="regRole.value === 'ta'">
            <h3>Select Your Weekly Hours</h3>
            <table>
              <tr>
                <th>Monday</th>
                <td><input name="monday-start" type="time" ngModel>pm
                    <input name="monday-end" type="time" ngModel>pm</td>
              </tr>
              <tr>
                <th>Tuesday</th>
                <td><input name="tuesday-start" type="time" ngModel>pm
                    <input name="tuesday-end" type="time" ngModel>pm</td>
              </tr>
              <tr>
                <th>Wednesday</th>
                <td><input name="wednesday-start" type="time" ngModel>pm
                    <input name="wednesday-end" type="time" ngModel>pm</td>
              </tr>
              <tr>
                <th>Thursday</th>
                <td><input name="thursday-start" type="time" ngModel>pm
                    <input type="time" name="thursday-end" ngModel>pm</td>
              </tr>
              <tr>
                <th>Friday</th>
                <td><input name="friday-start" type="time" ngModel>pm
                    <input name="friday-end" type="time" ngModel>pm</td>
              </tr>
              <tr>
                <th>Sunday</th>
                <td><input name="sunday-start" type="time" ngModel>pm
                    <input name="sunday-end" type="time" ngModel>pm</td>
              </tr>
            </table>
          </div>
          <input type="submit" class="fadeIn fourth" value="Register">
          <button class="btn btn-primary fadeIn fourth" (click)="login = !login">Login</button>
        </form>
      </div>
    </div>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
