<div class="event-dialog-container">
  <table>
    <tr *ngIf="data.person.role_id !=2">
      <td>TA:</td>
      <td>{{requesterAccount.firstname}} {{requesterAccount.lastname}}</td>
    </tr>
    <tr>
      <td>Class:</td>
      <td>CS{{data.event.course_id}}</td>
    </tr>
    <tr>
      <td>Time:</td>
      <td>{{ getDay(data.event.start_date) }}PM - {{ getDay(data.event.end_date) }}PM</td>
    </tr>
    <tr>
      <td>Room:</td>
      <td>ISAT {{data.event.location}}</td>
    </tr>
    <tr *ngIf="data.event.type === 'Pending'">
      <td>Status:</td>
      <td>{{data.event.type}}</td>
    </tr>
  </table>
  <button class="btn btn-primary" id="rc" *ngIf="data.event.type === 'shift' && data.person.role_id ===1" (click)="updateType()">Request Cover</button>
  <button class="btn btn-primary" id="ts"*ngIf="data.event.type === 'cover'&& data.person.role_id ===1 " (click)="updateType()">Take Shift</button>
</div>
