table {
  display: flex;
  flex-direction: row;
}

td {
  padding: 2px 10px;
}

.event-dialog-container {
  width: 90%;
  margin: auto;
}

#rc{
  margin-top: 10px;
  margin-left: 10px;
  background-color: #B599CE;
  border-color: #DACCE6;
}

#ts{
  margin-top: 10px;
  margin-left: 10px;
  background-color: #CBB677;
  border-color: #F4EFE1;
}
